// p::before { 
//     font-family: "Material Icons"; 
//     content: "\E87C";
//     font-size: 20px;
// }
.teal{
    color: #144566;
}
.sbmt-btn{
    width: 10vw;
    height: 6vh;
     background-color: #144566;
      color: #fff;
      transition: all ease-in-out 0.3s;
}
.sbmt-btn:hover{
    opacity: 0.7;
}