<div class="mat-table orders-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Id</div>
      <div class="mat-header-cell">Image</div>
      <div class="mat-header-cell">Date</div>
      <div class="mat-header-cell">Status</div>
    </div>

    <mat-spinner *ngIf='isLoading'></mat-spinner>

    <div *ngFor="let refund of refundItems" class="mat-row">
      <div class="mat-cell mat-Display"><span class="order">{{refund.id}}</span></div>
      <div class="mat-cell refund-image mat-Display"> 
        <img (click)="toggleImage()" class="img-responsive" [src]="refund.imagePath" alt="refund-img" loading="lazy" /> 
        <div class="overlay" *ngIf="refundImage">
          <img class="img-responsive" [src]="refund.imagePath" alt="refund-img" loading="lazy" />
          <button (click)="toggleImage()" class="hide-image"> X </button> 
        </div>
      </div>
       <div class="mat-cell mat-Display">{{refund.createdDate | date}}</div>
      <div class="mat-cell mat-Display" [style]="{color: refund.statusColor}">{{refund.statusName}}</div>
    </div>

<!-- <mat-paginator 
      [length]="totalOrders"
      [pageSize]="orderPerPage"
      [pageSizeOptions]="pageOption"
      (page)="onPageChanged($event)">
</mat-paginator> -->