<div class="about-head">
    <h2>Discover Invasion</h2>
    <h4 style="font-weight: 300;"> We are expanding so we can reach your doorstep and ease your life.</h4>
</div>
<div class="about-body">
<div class="about-body-div">
    <h3>Welcome to Invasion Family</h3>
    <span> <p>Invasion is a platform which allows customers to visualize a lot of genuine products easily through many
        of international & national brands which helps customers to compare between them.</p></span>
</div>
<div class="about-body-div frst">
    <span style="margin-top: 4vh;">
        <h6>Our Vision</h6>
         <p>To relentlessly build the most effortless & reliable online shopping environment,
         providing customers with the widest range of genuine products at the best prices.</p></span>
    <span>
         <h6> Our Mission</h6>
        <p>Is building the most beloved and trusted shopping destination for Egyptians.</p>
    </span>
</div>

</div>