.filter-sidenav{
    width: 280px;
    border: 0 !important;
    .mat-expansion-panel-header-title {
        text-transform: uppercase;
    }
}
.filter-row{
    background: #fff;
    padding: 8px 12px;
}
.all-products{
    min-height: 400px;
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
}

.products-wrapper{
    margin: 8px -8px;
    .col{
        padding: 8px;
    }
}

.categories-wrapper{
    position: relative;
    max-height: 300px;
}

.filter-buttons{
    button{
        min-width: 36px;
        margin: 0 6px 10px 0;
        padding: 0;
    }
}

.filter-price{
    .mat-slider-horizontal{
        min-width: 110px;
    }
}

.filter-brands{
    button{
        width: 66px;
        height: 44px;
        min-width: 66px;
        margin: 0 6px 10px 0;
        padding: 0px;
        overflow: hidden;
        img{
            width: 66px;
            height: 44px;
        }
    }
}
.prices-apply{
    display: flex;
    justify-content: space-between;
}
.prices-apply>button{
    width: 60px;
    border-radius: 10%;
    text-align: center;
    background-color: white;
    border: 1px solid white;
}
.prices-apply>button:hover{
    border: 1px solid teal;
}

.searchInput{
    margin-top: 4px;
    display: flex;
    color:rgb(34, 33, 33);
    p{
        font-weight: 700;
        margin-left: 4px;
    }
}

.blur{
    filter: blur(3px);
    transition: all 0.3s ease-in-out;
}
.un-blur{
    filter: blur(0px);
    transition: all 0.3s ease-in-out;
}
.no-products{
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: rgb(249, 207, 214);
  border-radius: 2%;
  color: darkred;
  span{
      margin-left: 4px;
      font-weight: 600;
      
  }
}
.btn-selected{
    background-color: #5b8095 !important;
    color: #fff !important;
}