.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
.sign-up-form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.snp>a{
    color: navy;
    font-weight: 500;
    }
    