/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
@import '~swiper/swiper-bundle.min.css';
@import "app/theme/styles/base";
@import "app/theme/styles/admin";
@import "app/theme/styles/theme";
@import "app/theme/styles/gradients";
@import "app/theme/styles/rtl";


.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.product-item .category {
    // background-color: #008080;
    width:100%;
    height: fit-content;
    line-height: 27px;
    text-align: center;
    color: black !important;
    margin: 7px auto;
    border-radius: 8px;
    font-size: 13px;

    span {
        color: #fff!important;
        width: 20vw;
    }
}

.mat-card {padding: 0!important;}

.product-item .prices {
    margin: 12px 0;
    padding: 0 20px;
}
.mat-progress-spinner {text-align: center!important; margin: 20px auto;}

.product-item .title {
    font-size: 14px;
}

// .category {
//     background-color: #008080!important;
//     width: 10vw !important;
// }

.options .options-icon {
    display: none;
}

.product-item img {
    max-width: 100%;
    height: 170px;
    margin-bottom: 5px;
}

.app.blue .mat-flat-button.mat-primary, .app.blue .mat-raised-button.mat-primary, .app.blue .mat-fab.mat-primary, .app.blue .mat-mini-fab.mat-primary {
    background-color: #008080 !important;
}

@media(max-width: 1024px) {
    .product-item img {
        max-width: 100%;
        height: 170px;
    }

    .product-item img {
        height: auto;
    }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.mat-step-icon-selected{
    background-color: teal !important;
}
.swiper-button-prev{
    left: -0.3vw;

}
.swiper-button-next{
    right:-0.1vw;
}
